/* Color Scheme:
Dark blue: #769FB0
Light Blue: #DEF6FF
Blue: #C2ECFC
Dark Brown: #B08C64
Light Brown: #FCE1C2
 */
html {
    background-image: linear-gradient(to right, #B08C64, #FCE1C2);
}
body {
    box-sizing: border-box;
}
.wrap {
    background-color: #C2ECFC;
    margin: 20px auto;
    text-align: center;
    border: 10px #B08C64;
    box-shadow: 0 0 10px 5px black;
    width: 80%;
    border-radius: 50px;
}
.invwrap {
    background-color: transparent;
    margin: 0 auto;
    text-align: center;
}
.navbutton {
    display: inline;
    position: relative;
    text-align: center;
    box-shadow: 0 0 10px 5px black;
    background-color: #DEF6FF;
    width: 20%;
    margin: 10px;
}
.clear {
    clear: both;
}
.height {
    height: 150px;
}